attrs
beautifulsoup4
certifi
cffi
cryptography
h11
idna
outcome
pip
psycopg
pycparser
pyOpenSSL
PySocks
requests
selenium
setuptools
sniffio
sortedcontainers
soupsieve
trio
trio-websocket
tzdata
urllib3
wheel
wsproto
