attrs
beautifulsoup4>=4.11.1
boto3
botocore
certifi
cffi
cryptography>=37.0.2
h11
idna
outcome
pip>=22.1
psycopg>=3.0.14
pycparser
pyOpenSSL
PySocks
requests
selenium>=4.1.5
setuptools>=62.3.1
sniffio
sortedcontainers
soupsieve>=2.3.2.post1
trio
trio-websocket
tzdata
urllib3
wheel
wsproto
webdriver_manager
